body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chatBox {
	width: 800px;
	border: 3px solid green;
	background-image: url("/images/yosemite.jpg");
}